.app-container{
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  margin-bottom: 30px;
  color: black;
}
.button-container{
  display: flex;
  gap: 10px;
}
.color-btn{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.color-btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}
.reset-btn{
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.reset-btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}
.current-color p{
  font-size: 1.2rem;
  margin: 10px;
}